* {
    --req_blue: #4d72df; /* Variable created to use the exact blue of the template pages */
}

select {
    margin: 0 1%;
}

.sidebar-brand-margin {
    margin: 8% 0;
}

/* Make navbar stick to the top of the page on scroll */
.sticky-top {
    position: sticky;
    top: 0;
}

/* Make footer stick to the bottom of the page on scroll */
.sticky-bottom {
    position: sticky;
    bottom: 0;
}

.overflow-mode {
    overflow: scroll;
}

.page-container {
    max-height: 1vh;
}

.page-content {
    height: 100%;
    padding: 2rem;
}

/* Adaptable grid pattern for projects, dynamically fits on any page */
#dashboard-grid {
    margin-bottom: 1rem;
    padding: 1rem;
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

/* NOT NEEDED? */
.card-head-mod {
    display: ruby;
}

/* Adaptable grid pattern for tests, dynamically fits on any page */
#report-grid {
    margin-bottom: 1rem;
    padding: 1rem;
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 1rem;
    width: 100%;
}

/* Project and Test grid item, shared by both grid IDs */
.dashboard-item {
    border: 1px solid var(--req_blue);
    border-radius: 10px;
    height: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    overflow: scroll;
}

.dashboard-item-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.dashboard-item:hover {
    border: 3px solid var(--req_blue);
}

.dashboard-item-header {
    padding: 1% 0;
    padding-top: 5%;
    padding: 8% 0;
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--req_blue);
    z-index: 1;
    background-color: #f8f9fc;
    font-weight: bold;
}

.dashboard-item-body {
    padding: 2%;
    padding-top: 5%;
    word-wrap: break-word;
    overflow: scroll;
}
  
table, th, td {
    border: 1px solid;
    text-align: center;
    vertical-align: center;
    padding: 2px;
}

/* Table data box highlights when hovered over */
td:hover {
    background-color: lightcyan;
}

.page-table {
    width: 100%;
}

.flex-page {
    display: flex;
    flex-direction: column;
}

.flex-title {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.flex-body {
    display: flex;
    flex-direction: row;
}

.modal-page {
    max-width: 85%;
    margin-left: 12%;
    margin-top: 2rem;
}

/* NEEDED? */
.modal-reqs {
    text-align: center;
    padding-bottom: 2%;
}

/* Centering of content in a form */
.reqs-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.reqs-form div {
    padding-bottom: 2%;
}


/* Smaller than a desktop */
@media (max-width: 1024px) {   

}

/* Smaller than a phablet */
@media (max-width: 768px) {   

}

  
/* Smaller than a tablet */
@media (max-width: 640px) {   

}

/* Smaller than a phone */
@media (orientation: portrait) and (max-width: 640px) {
    
    .page-content {
        /* height: 100%; */
        padding: 0;
    }

    .topbar {
        height: 6rem;
    }

    #dashboard-grid {
        /* margin-bottom: 1rem;ks
        padding: 1rem;
        display: grid;
        border-radius: 10px; */
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        /* gap: 1rem; */
    }

    #report-grid {
        /* margin-bottom: 1rem;
        padding: 1rem;
        display: grid;
        border-radius: 10px; */
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        /* gap: 1rem;
        width: 100%; */
    }
}
  
  
  