* {
    --req_blue: #4d72df;
}

select {
    margin: 0 1%;
}

.sticky-top {
    position: sticky;
    top: 0;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
}

.overflow-mode {
    overflow: scroll;
}

.page-container {
    max-height: 1vh;
}

.page-content {
    height: 100%;
    padding: 2rem;
}

#dashboard-grid {
    margin-bottom: 1rem;
    padding: 1rem;

    display: grid;
    border-radius: 10px;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card-head-mod {
    display: ruby;
}

.report-grid {
    margin-bottom: 1rem;
    padding: 1rem;

    display: grid;
    border-radius: 10px;

    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 1rem;

    width: 100%;
}

.dashboard-item {
    border: 1px solid var(--req_blue);
    border-radius: 10px;

    height: 250px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    text-align: center;

    overflow: scroll;
}

.dashboard-item-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.dashboard-item:hover {
    border: 3px solid var(--req_blue);
}

.dashboard-item-header {
    padding: 1% 0;
    padding-top: 5%;
    padding: 8% 0;
    
    width: 100%;

    position: sticky;
    top: 0;

    border-bottom: 1px solid var(--req_blue);

    z-index: 1;
    background-color: #f8f9fc;

    font-weight: bold;
}

.dashboard-item-body {
    padding: 2%;
    padding-top: 5%;

    word-wrap: break-word;

    overflow: scroll;
}
  
table, th, td {
    border: 1px solid;
    text-align: center;
    vertical-align: center;
    padding: 2px;
}

td:hover {
    background-color: lightcyan;
}

.page-table {
    width: 100%;
}

.flex-page {
    display: flex;
    flex-direction: column;
}

.flex-title {
    display: flex;
    flex-direction: row;

    /* justify-content: flex-start; */
    justify-content: center; 

    /* padding: 1rem; */
}

.flex-body {
    display: flex;
    flex-direction: row;
}

.modal-page {
    max-width: 95%;
    margin-left: 3%;
    margin-top: 2rem;
}