{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div id="dashboard-grid">
        <!-- {% for item in iterable %}
            <div class="dashboard-item">

            </div>
        {% endfor %} -->
        <div class="dashboard-item">
            <h3 class="dashboard-item-header">Project ID</h3>
            <p class="dashboard-item-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div id="AddGrid" class="dashboard-item dashboard-item-new">
            <span><i class="fa fa-solid fa-plus"></i></span>
            <h4>Add New Project</h4>
        </div>
    </div>
{% endblock %}

<!-- {%if name %}
{% else %}
{% endif %} -->