{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div id="dashboard-grid">
        <!-- {% for item in iterable %}
            <div class="dashboard-item">

            </div>
        {% endfor %} -->
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
        <div class="dashboard-item">

        </div>
    </div>  
{% endblock %}

<!-- {%if name %}
{% else %}
{% endif %} -->