{% extends "base.html" %}

{% block title %}
    Secondary Requirements
{% endblock %}

{% block content %}
    <table class="page-table">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Author</th>
            <th>Acceptance Criteria</th>
            <th>Progress</th>
            <th>Priority</th>
            <th>Deadline</th>
        </tr>
        <tr>
            <td>S001</td>
            <td>First secondary Requirement</td>
            <td>Benjamin Button</td>
            <td>Inhouse Tests</td>
            <td>Backlog</td>
            <td>Medium</td>
            <td>13/08/2024</td>
        </tr>
        <tr>
            <td>S002</td>
            <td>Secondary secondary Requirement</td>
            <td>joe Bloggs</td>
            <td>Specialist Opinion</td>
            <td>In Progress</td>
            <td>Critical</td>
            <td>09/06/2024</td>
        </tr>
        <tr>
            <td>S003</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
            <td>.....</td>
        </tr>
    </table>
{% endblock %}