<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Code Institute Milestone Project 3. Requirements Management System.">
        <meta name="keywords" content="Milestone Project 3, Volo, Requirements, Requirements Management System">
        <meta name="author" content="Marcus Parker">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer">

        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">

        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <title>VOLO</title>
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand sidebar-brand-margin d-flex align-items-center justify-content-center" aria-label="Link to Homepage. Doubles as Website Logo">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-solid fa-business-time"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Volo Requirements System<sup>2</sup></div>
                </a>

                <!-- Divider -->
                <!-- <hr class="sidebar-divider my-0"> -->
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href={{ url_for('index') }} aria-label="Navigation to Homepage/Project page">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Pages
                </div>

                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('project_reqs', project_id=0) }}" aria-label="Navigation to Requirements page">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Project Requirements</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Testing
                </div>

                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('test_reports') }} aria-label="Navigation to Test Reports page">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Test Reports</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content" class="overflow-mode">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow sticky-top">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <h1 class="h1 mb-0 text-gray-800">
                                <!-- Title Content from other template pages -->
                                {% block title %}{% endblock %}
                            </h1>
                        </div>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Conditional Statement to ask if a user is signed in or not -->
                            {% if current_user.is_anonymous %}
                                <!-- Direct for is a user is not signed in. Only login button is displayed -->

                                <a href={{ url_for('login') }} class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" aria-label="Button to log in as a user">
                                    <i class="fas fa-sm text-white-50"></i> 
                                    Log In
                                </a>
                            {% else %}
                                <!-- Direct for is a user is signed in. Logout and Profile buttons are displayed -->

                                <a href="{{ url_for('user', username=current_user.username) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" aria-label="Button to navigate to User Profile page">
                                    <i class="fas fa-sm text-white-50"></i> 
                                    Profile
                                </a>

                                <div class="topbar-divider d-none d-sm-block"></div>

                                <a href={{ url_for('logout') }} class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" aria-label="Button for user to log out">
                                    <i class="fas fa-sm text-white-50"></i> 
                                    Log Out
                                </a>
                            {% endif %}

                            <div class="topbar-divider d-none d-sm-block"></div>
                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="page-container ">
                        <div class="page-content">
                            <!-- Page Content from other template pages -->
                            {% block content %}{% endblock %} 
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>

                <!-- Footer -->
                <footer class="sticky-footer bg-white sticky-bottom">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top" aria-label="Button to scroll back to top of the page">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Admin Modal-->
        <!-- <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Admin Level Needed</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Admin level is needed for this functionality. Please login and try again</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Login</a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Logout Modal-->
        <!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div> -->
        
        <!-- JQuery core JavaScipt -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

        <!-- Page level plugins -->
        <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

        <!-- Page level custom scripts -->
        <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
        
        <script src="{{ url_for('static', filename="js/script.js") }}"></script>
    </body>
</html>