{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    
    <!-- List of projects in an adaptable grid pattern -->
    <div id="dashboard-grid"> 
        {% for project in projects %}
            <div class="card shadow dashboard-item border-bottom-primary" data-toggle="modal" data-target="#projectModal{{project.id}}">      
                <h3 class="card-header dashboard-item-header"> {{project.title}} </h3>
                <p class="card-body dashboard-item-body"> {{project.description}} </p>
            </div>

            <!-- Project Card Modal-->
            <div class="modal fade modal-page" id="projectModal{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-page" role="document">
                    <div class="modal-content">
                        <!-- Project Card Header, contains title and close button -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{project.title}}</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <!-- Project Card Body, contains description of the Project and a pie chart for easy visuals -->
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{project.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Footer for the Project card modal, contains buttons to edit/delete the project and links to different pages -->
                        <div class="modal-footer">
                            {% if current_user.is_anonymous %}
                            {% else %}
                                <a class="btn btn-danger btn-icon-split" href="{{ url_for('delete_project', project_id=project.id) }}" aria-label="Button to delete a project"> 
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>  
                                    </span>
                                    <span class="text">Delete</span>
                                </a>
                                <a class="btn btn-secondary btn-icon-split" href="{{ url_for('edit_project', project_id=project.id) }}" aria-label="Button to edit a project">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-info-circle"></i>  
                                    </span>
                                    <span class="text">Edit</span>
                                </a>
                            {% endif %}
                            <a class="btn btn-success btn-icon-split" href="{{ url_for('requirements', project_id=project.id) }}" aria-label="Button to navigate to Requirements page with chosen project targeted">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>  
                                </span>
                                <span class="text">Project Reqs</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Project Card that acts as a button to add a new project -->
        {% if current_user.is_anonymous %}
        {% else %}  
            <a id="addGrid" class="card shadow dashboard-item dashboard-item-new border-bottom-primary" href={{ url_for('add_project') }} aria-label="Button to add a project">
                <span><i class="fa fa-solid fa-plus"></i></span>
                <h4>Add New Project</h4>
            </a>
        {% endif %}
    </div>
{% endblock %}