{% extends "base.html" %}

{% block title %}
    Project Requirements
{% endblock %}

{% block content %}
    <div class="flex-page">
        <div class="flex-title">
            <div class="dropdown mb-4">
                <select id="projectChoose" class="btn btn-primary dropdown-toggle">
                    {% for project in projects|sort(attribute="id") %}
                        <option value="{{project}} {% if project == "projects" %} selected {% endif %}">{{project.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="flex-body">

            <!-- DataTales Example -->
            <div class="card shadow page-table border-left-primary">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Primary Key
                                        <a class="btn btn-success btn-circle btn-sm" data-toggle="modal" data-target="#AddPrimary"><i class="fa fa-solid fa-plus"></i></a>
                                    </th>
                                    <th>Description</th>
                                    <th>Acceptance Rationale</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Primary Key</th>
                                    <th>Description</th>
                                    <th>Acceptance Rationale</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for primary in primarys|sort(attribute="id") %}
                                        <tr>
                                            <td>
                                                {{primary.id}}
                                                <a class="btn btn-secondary btn-circle btn-sm" href=""><i class="fas fa-info-circle"></i></a>
                                                <a class="btn btn-danger btn-circle btn-sm" href="{{ url_for('delete_primary', primary_id=primary.id) }}"><i class="fas fa-trash"></i></a>
                                            </td>
                                            <td>{{primary.description}}</td>
                                            <td>{{primary.acceptance_rationale}}</td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Project Modal-->
    <div class="modal fade" id="AddPrimary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Primary Requirement</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="POST" class="reqs-form" action="{{url_for('add_primary')}}">
                                    <div>
                                        <label for="description">DESCRIPTION</label>
                                        <input name="description" id="description" type="text">
                                    </div>

                                    <div>
                                        <label for="acceptance_rationale">AR</label>
                                        <input name="acceptance_rationale" id="test_date" type="text">
                                    </div>

                                    <div>
                                        <select id="project_id" name="project_id" class="validate" required>
                                            <option value="" disabled selected>Choose Project</option>
                                            {% for project in projects %}
                                                <option value="{{ project.id }}">{{ project.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="project_id">Project</label>
                                    </div>

                                    <div>
                                        <button type="submit">ADD</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

{% endblock %}