{% extends "base.html" %}

{% block title %}
    Project Requirements
{% endblock %}

{% block content %}
    <div class="flex-page">
        <div class="flex-title">
        </div>
        <div class="flex-body">
            <div class="card shadow page-table border-left-primary">
                <div class="card-body">
                    <div class="table-responsive">
                        <!-- Table that dispalys the requirements. Table JS sourced from the library https://datatables.net/ -->
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <!-- Table Header also contains the new requirement button -->
                                    <th>
                                        Primary Key
                                        {% if current_user.is_anonymous %}
                                        {% else %}
                                            <a class="btn btn-success btn-circle btn-sm" href={{ url_for('add_requirement') }} aria-label="Button to add a requirement"><i class="fa fa-solid fa-plus"></i></a>
                                        {% endif %}
                                    </th>
                                    <th>Description</th>
                                    <th>Acceptance Rationale</th>
                                    <th>Project</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Primary Key</th>
                                    <th>Description</th>
                                    <th>Acceptance Rationale</th>
                                    <th>Project</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <!-- Get list of available requirements from the database to display -->
                                {% for primary in primarys %}
                                    <tr>
                                        <!-- Table databox that contains Requirement ID also contains buttons to edit/delete the requirement -->
                                        <td>
                                            {{primary.id}}
                                            {% if current_user.is_anonymous %}
                                            {% else %}
                                                <a class="btn btn-secondary btn-circle btn-sm" href="{{ url_for('edit_requirement', primary_id=primary.id) }}" aria-label="Button to edit a requirement"><i class="fas fa-info-circle"></i></a>
                                                <a class="btn btn-danger btn-circle btn-sm" href="{{ url_for('delete_primary', primary_id=primary.id) }}" aria-label="Button to delete a requirement"><i class="fas fa-trash"></i></a>
                                            {% endif %}
                                        </td>
                                        <td>{{primary.description}}</td>
                                        <td>{{primary.acceptance_rationale}}</td>
                                        {% for project in projects %}
                                            {% if project.id == primary.project_id %}
                                                <td>{{project.title}}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}