{% extends "base.html" %}

{% block title %}
    Test Reports
{% endblock %}

{% block content %}

    <div class="flex-page">
        <div class="flex-title">
            <div class="dropdown mb-4">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Project
                </button>
                <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                    {% for project in projects|sort(attribute="id") %}
                        <a class="dropdown-item" href="#">{{project.title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="flex-body">
            <div class="report-grid">
                {% for test in tests %}
                    <div class="card shadow dashboard-item dashboard-item-new border-bottom-primary"  data-toggle="modal" data-target="#testModal{{test.id}}">
                        <h3>{{test.id}}</h3>
                    </div>

                     <!-- Project Card Modal-->
                    <div class="modal fade" id="testModal{{test.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">               
                                    <h5 class="modal-title" id="exampleModalLabel">{{test.id}}</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{test.description}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{test.test_date}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{test.reporter}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{test.report}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{test.project_id}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info-circle"></i>  
                                        </span>
                                        <span class="text">
                                            Edit
                                        </span>
                                    </a>
                                    <a class="btn btn-danger btn-icon-split" href="{{ url_for('delete_test', test_id=test.id) }}"> 
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>  
                                        </span>
                                        <span class="text">
                                            Delete
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="card shadow dashboard-item dashboard-item-new border-bottom-primary" data-toggle="modal" data-target="#AddTest">
                    <span><i class="fa fa-solid fa-plus"></i></span>
                    <h4>Add Test Report</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- New Project Modal-->
    <div class="modal fade" id="AddTest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add test</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="POST" class="reqs-form" action="{{url_for('add_test')}}">
                                    <div>
                                        <label for="description">DESCRIPTION</label>
                                        <input name="description" id="description" type="text">
                                    </div>

                                    <div>
                                        <label for="test_date">TEST DATE</label>
                                        <input name="test_date" id="test_date" type="datetime-local">
                                    </div>

                                    <div>
                                        <label for="reporter">REPORTER</label>
                                        <input name="reporter" id="reporter" type="text">
                                    </div>

                                    <div>
                                        <label for="report">REPORT</label>
                                        <input name="report" id="report" type="checkbox">
                                    </div>

                                    <div>
                                        <select id="project_id" name="project_id" class="validate" required>
                                            <option value="" disabled selected>Choose Project</option>
                                            {% for project in projects %}
                                                <option value="{{ project.id }}">{{ project.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="project_id">Project</label>
                                    </div>

                                    <div>
                                        <button type="submit">ADD</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

{% endblock %}